
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  border: none;
  text-decoration: none; }

*:focus {
  outline: none; }

ul, h1, h2, h3, h4 {
  margin: 0px; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-thumb {
  background: #E22033;
  border-radius: 10px; }

@font-face {
  font-family: 'Conv_bebas-neue-regular';
  src: url("../fonts/bebas-neue-regular.eot");
  src: local("☺"), url("../fonts/bebas-neue-regular.woff") format("woff"), url("../fonts/bebas-neue-regular.ttf") format("truetype"), url("../fonts/bebas-neue-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }


  @font-face {
  font-family: 'Conv_NEON___';
  src: url('../fonts/NEON___.eot');
  src: local('☺'), url('../fonts/NEON___.woff') format('woff'), url('../fonts/NEON___.ttf') format('truetype'), url('../fonts/NEON___.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_KaushanScript-Regular';
  src: url('../fonts/KaushanScript-Regular.eot');
  src: local('☺'), url('../fonts/KaushanScript-Regular.woff') format('woff'), url('../fonts/KaushanScript-Regular.ttf') format('truetype'), url('../fonts/KaushanScript-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_nenema';
  src: url('../fonts/nenema.eot');
  src: local('☺'), url('../fonts/nenema.woff') format('woff'), url('../fonts/nenema.ttf') format('truetype'), url('../fonts/nenema.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_bpg-web-001-caps-webfont';
  src: url('../fonts/bpg-web-001-caps-webfont.eot');
  src: local('☺'), url('../fonts/bpg-web-001-caps-webfont.woff') format('woff'), url('../fonts/bpg-web-001-caps-webfont.ttf') format('truetype'), url('../fonts/bpg-web-001-caps-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_bebas-neue-bold';
  src: url('../fonts/bebas-neue-bold.eot');
  src: local('☺'), url('../fonts/bebas-neue-bold.woff') format('woff'), url('../fonts/bebas-neue-bold.ttf') format('truetype'), url('../fonts/bebas-neue-bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_bpg_web';
  src: url('fonts/bpg_web.eot');
  src: local('☺'), url('../fonts/bpg_web.woff') format('woff'), url('../fonts/bpg_web.ttf') format('truetype'), url('../fonts/bpg_web.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.main_fluid {
  height: 100vh;
  position: relative;
      overflow: hidden;
}

#carouselExampleIndicators {
  height: inherit;
}

.carousel-inner {
  height: inherit;
}

.carousel-item{
   height: 100%;

}

.carousel-indicators li{
  cursor: pointer;
}



.carousel-item {
 background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url("../images/Black-Friday2.jpg");
 background-position: center;
 background-size: cover;
}

.top_nav {
    position: absolute;
    top: 5%;
    left: 0%;
    background-color: #E22033;
    padding: 10px 60px;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 30px;


    ul {
          display: flex;
          justify-content: space-between;
          width: 95%;


       a {
          font-size: 16px;
          font-size: 1vw;
          color: #000000;
          font-family: 'Conv_bebas-neue-bold';    
             }
    }
}

.resp_navigation {
     position: absolute;
    top: 50%;
    left: 50%;
    background-color: #E22033;
    padding: 10px 60px;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 30px;
    transform: translate(-50%,-50%);
    text-align: center;

        ul {
   
          display: none;
          width: 95%;


       a {
          font-size: 20px;
          color: #fff;
          font-family: 'Conv_bebas-neue-bold';    
             }
    }

}


.language_box_resp {
  display: none;

   span {
      color: #fff;
      display: inline-block;
      position: relative;
      font-family: 'Conv_bebas-neue-regular';
      font-size: 22px;
      cursor: pointer;
      &:not(:last-child){
        
        margin-right: 10px;
      }

    }
}

.language_box {
    position: absolute;
    right: 7%;
    top: 6%;

    .active {
       border-bottom: 1px solid #E22033;
    }

    span {
      color: #E22033;
      display: inline-block;
      position: relative;
      font-family: 'Conv_bebas-neue-regular';
      font-size: 22px;
      cursor: pointer;
      &:not(:last-child){
        
        margin-right: 10px;
      }

    }
}

.main_tittle {

   position: absolute;
   top: 50%;
   left:47%;
   transform: translate(-50%,-50%);

   h1 {
    text-align: right;
    span {
      display: block;
      position: relative;
      -webkit-animation: neon3 1s ease-in-out infinite alternate;
       animation: neon3 1s ease-in-out infinite alternate;
    }
       span:first-child {
        color:#fff;
        font-family: 'Conv_NEON___';
        font-size: 130px;
        line-height: 105px;

          &:after{
              left: 100%;
              content: "";
              position: absolute;
              bottom: 0.7px;
              width: 300%;
              height: 7px;
              background-color: #fff;
              -webkit-animation: neon4 1s ease-in-out infinite alternate;
              animation: neon4 1s ease-in-out infinite alternate;
              z-index: -1;
          }
       }

        span:last-child {
        color:#fff;
        font-family: 'Conv_KaushanScript-Regular';
        font-size: 130px;
       }

   }
}



.main_navigation_resp {
  display: none;
}

.datepciker {
  position: absolute;
  top: 54%;
  right: 13%;
}


.top_email_box {
  position: absolute;
  bottom: 5%;
  right: 5%;

   span {
    font-family: 'Conv_bebas-neue-regular';
    color: #E22033;
    font-size: 16px;
    display: inline-block;

        
        &:not(:last-child){
          margin-right: 20px;
        }
       
   }
}


.top_left_scroll_box {

  position: absolute;
  bottom: 5%;
  left: 7%;
  z-index: 10;
  width: 10%;
  height: 70%;

  .long_line {
    height: 100%;
   width: 1px;
   background-color: #E22033;
  }

  .srcroll_line {
        transform: rotate(270deg);
    position: absolute;
    bottom: 12%;
    left: 10px;

      span {
        color: #E22033;
        font-family: 'Conv_bebas-neue-regular';
        font-size: 25px;
        position: relative;

         &:after{
              content: "";
              position: absolute;
              width: 40px;
              height: 1px;
              background-color: #E22033;
              top: 12px;
              left: -50px;
         }
      }
  }

   
}


/*//section2*/


.main_content_fluid {

  background-color: #000000;
  width: 100%;
  background-image: url(../images/main_bg.png);
  background-repeat: no-repeat;
  background-position: 6% 8%;
  position: relative;

}


.main_content_box {

  width: 80%;
  margin-left: auto;
  padding: 130px 0 100px;
  display: flex;



    .main_contents {

    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    }
}

.resp_top {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}


.contents {
    
  width: 30%;
  height: 200px;
  background-image: url("../images/contentbg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-bottom: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

   img {
      height: 65px;
      object-fit: cover;
      width: 135px;

   }
}
.main_nav_close {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 10;
}
.content_sale_box {

  position: absolute;
  bottom: -10%;
  left: 7%;
  z-index: 8;
  width: 85px;
  height: 85px;
  background-color: #E22033;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 4px 7px 0px #000; 
      


      &:after{

        background-image: url(../images/moon_bg.png);
        width: 100%;
        height: 100%;
        position: absolute;
        left: -1px;
        top: 0px;
        z-index: 100;
        content: "";
        background-repeat: no-repeat;
        background-position: center left;
        background-size: contain

      }

    span {
     font-family: 'Conv_nenema';
     font-size: 30px;
     color: #fff;
    }

}


.main_right_nav {
     margin-left: 10%;
}

.main_navigation {
    padding: 20px 0 160px 40px;
    background-image: url("../images/main_nav_stars.png");
    position: relative;

   &:after {
    content:"";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #E22033;
    top: 0;
    left: -5px;
    z-index: 1;
    -webkit-animation: neon6 1s ease-in-out infinite alternate;
    animation: neon6 1s ease-in-out infinite alternate;
   }


    ul {

       li {

        height: 55px;
        display: flex;
        align-items: center;

          a {
            color: #E22033;
            font-size: 30px;
            font-family: 'Conv_bebas-neue-regular';
            transition: .3s;

            &.active {
              color: #fff;
            }

            

          }
       }
    }
}

.main_navigation_resp {
 
    background-image:url("../images/main_nav_stars.png") ,linear-gradient(#000,#000);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;
    width: 0%;
    overflow: hidden;
    transition: .4s;

  


    ul {
           padding: 20px 20px 60px 30px;
           display: none;

       li {

        height: 40px;
        display: flex;
        align-items: center;

          a {
            color: #E22033;
            font-size: 22px;
            font-family: 'Conv_bebas-neue-regular';
            transition: .3s;

            &.active {
              color: #fff;
            }

            

          }
       }
    }

     &.active {
      width: 70%;
     }
}


.main_info {

    width: 100%;
    background-image: url(../images/main_bg2.png);
    background-repeat: no-repeat;
    background-position: 5% 20%;
    padding: 100px 0 300px;

  .main_info_tittle {
    text-align: center;

     h2 {
      color: #E22033;
        font-family: 'Conv_bebas-neue-regular';
        font-size: 35px;


     }
  }

  .main_info_text {

    max-width: 1000px;
    width: 80%;
    margin: 50px auto 0;

     p {
      color: #fff;
      font-size: 16px;
      font-family: 'Conv_bpg_web';
  
     }
  }

}


.footer {
  background-color: #E22033;
  padding: 20px 10px;

   .footer_content_up {

     display: flex;
     justify-content: center;

     &>div {

      display: flex;
      align-items: center;

      &:not(:last-child){
        margin-right: 40px;
      }

      span {
        color: #fff;
        font-family: 'Conv_bebas-neue-regular';
        font-size: 16px;

      }
     }
   }

}


.footer_links a:nth-child(2){
  transform: translateY(2px);
}

.footer_copyright {
    margin-top: 10px;
    width: 100%;
    text-align: center;


     span {
      color: #fff;
      font-family: 'Conv_bebas-neue-regular';
      font-size: 12px;
     }
}

.flip-clock-wrapper .flip {
  -webkit-animation: neon5 1s ease-in-out infinite alternate;
    animation: neon5 1s ease-in-out infinite alternate;
}

.main_content_responsive_tab {
  display: none;
}

@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 20px #E22033, 0 0 30px #E22033, 0 0 40px #E22033, 0 0 50px #E22033, 0 0 80px #E22033, 0 0 90px #E22033, 0 0 110px #E22033, 0 0 160px #E22033;
  }
  to {
    text-shadow: 0 0 5px #E22033, 0 0 10px #E22033, 0 0 15px #E22033, 0 0 15px #E22033, 0 0 30px #E22033, 0 0 30px #E22033, 0 0 40px #E22033, 0 0 65px #E22033;
  }
}


@-webkit-keyframes neon4 {
  from {
    box-shadow: 0 0 20px #E22033, 0 0 30px #E22033, 0 0 40px #E22033, 0 0 50px #E22033, 0 0 80px #E22033, 0 0 90px #E22033, 0 0 110px #E22033, 0 0 160px #E22033;
  }
  to {
    box-shadow: 0 0 5px #E22033, 0 0 10px #E22033, 0 0 15px #E22033, 0 0 15px #E22033, 0 0 30px #E22033, 0 0 30px #E22033, 0 0 40px #E22033, 0 0 65px #E22033;
  }
}

@-webkit-keyframes neon6 {
  from {
    box-shadow: 0 0 15px 1px #E22033;
  }
  to {
    box-shadow: 0 0 35px 3px #E22033;
  }
}

@-webkit-keyframes neon5 {
  from {
    box-shadow: 0 0 15px #E22033;
  }
  to {
    box-shadow: 0 0 45px 3px #E22033;
  }
}


.navbar_icon {
  position: absolute;
  z-index: 10;
  top: 5%;
  right: 5%;
  display: none;
}


.responsive_navbar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  transition: .4s;
  background-color: #E22033;
  z-index: 1000;
  display: none; 

}


.main_content_responsive_tab {



  .filer_line {
    flex-grow: 1;
    height: 1px;
    background-color: #E22033;
  }

  .filer_content {
    display: flex;
    align-items: center;
        margin-right: 3%;  }
   h3 {
    color: #E22033;
    font-family: 'Conv_bebas-neue-regular';
    font-size: 20px;
   }
}



@media only screen and (max-width: 1750px){
  .datepciker {
      right: 7%;
  }
}


@media only screen and (max-width: 1500px){
  .datepciker {
      right: 2%;
  }
}

@media only screen and (max-width: 1366px){
 .main_tittle {
    left: 38%;
  }
  .flip-clock-wrapper ul {
    margin:1px;
  }
  .main_content_box {
    width: 88%;
  }
  .main_navigation ul li a {
  
    font-size: 26px;
    
}
}



@media only screen and (max-width: 1280px){

.main_content_box {
    width: 95%;
}
.main_content_box .main_contents {
    width: 65%;

}
.main_navigation {
    padding: 20px 0 160px 30px;
}
  .main_info {
      padding: 50px 0 200px;
  }

  .main_navigation ul li a {
    font-size: 22px;
}
}


@media only screen and (max-width: 1100px){
  .datepciker {
        top: 70%;
  }
}



@media only screen and (max-width: 992px){

  .main_navigation_resp ul li {
     height: unset; 
     margin-bottom: 5px;
}
  .main_navigation_resp ul {
   
     height: 430px;
}



.main_navigation_resp ul li a {
   
    font-size: 16px;
   
}


  .main_content_responsive_tab {

  display: flex;
}
  .top_nav {
        display: none;
  }
  .top_left_scroll_box {
    display: none;
  }

  .main_tittle h1 span:first-child:after {
    content: unset;
  }
  .main_tittle {
    left: 50%;
}

.top_email_box {
   
    left: 5%;
    top: 5%;
    height: 10%;
    width: 40%;

}
.top_email_box span {
  display: block;

}
.language_box {
    
    left: 7%;
    top: 6%; 
    display: none;

    &.active {
      display: block;
      opacity: 1;
    }
}

.navbar_icon {
  display: block;
}
.language_box_resp {
  display: block;
}
.responsive_navbar {
  display: block;
      overflow: hidden;

   &.active {
    width: 100%;
   }
}

.main_tittle h1 span:first-child,.main_tittle h1 span:last-child {
 
    font-size: 90px;
    
}
.footer .footer_content_up {
 
    flex-direction: column;
    align-items: center;
}

.footer_links {
  order: -1;
}
.footer .footer_content_up > div:not(:last-child) {
     margin-right: unset; 
}
.footer_copyright {
  margin-top: 0;
}
.main_info .main_info_text p {
    font-size: 12px;
   
}

.main_info .main_info_text {
 
    margin: 25px auto 0;
}

.main_info .main_info_tittle h2 {

    font-size: 30px;
}

.main_right_nav {
  display: none;
}

.contents {
    width: 50%;
   
}
.main_content_box {
    width: 100%;
    margin-left: unset; 
    padding: 80px 0 50px;
    justify-content: center;
}

.contents img {
    height: 37px;
    object-fit: cover;
    width: 69px;
}
.main_info {
    padding: 30px 0 80px;
}
.content_sale_box {
  
    width: 60px;
    height: 60px;
    bottom: 4%;
    left: 9%;
 
}
.content_sale_box span {
  
    font-size: 18px;
 
}

.main_content_box .main_contents {
    width: 85%;
}
.main_content_responsive_tab {
  display: flex;
  align-items: center;
}

.main_navigation_resp {
  display: block;
}

}



@media only screen and (max-width: 576px) {
.main_tittle h1 span:first-child {
 
    line-height: 58px;
}
.main_tittle h1 span:first-child, .main_tittle h1 span:last-child {
    font-size: 65px;
}
.top_email_box span {
 
    font-size: 14px;
 
}
.main_tittle {
    
    top: 40%;
 
}
.datepciker {
    top: 58%;
}

.flip-clock-wrapper ul li a div div.inn {

    font-size: 20px;
}
.flip-clock-wrapper ul {
  width: 27px;
  height: 50px;
}
.flip-clock-divider .flip-clock-label {
    top: -1.5em;
    right: -49px;
}
.flip-clock-divider {

    height: 100px;
}
.resp_navigation ul a {
    font-size: 16px;
    
}

.content_sale_box {
  
    width: 40px;
    height:40px;
        bottom: 14%;
    left: 10%;
 
}
.content_sale_box span {
  
    font-size: 14px;
 
}

.contents {
  margin-bottom: 0px;
}


}